  .clock-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .clock {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(79, 158, 175);
    position: relative;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 6px -6px 9px var(--main-accent),
               inset -4px 4px 9px lightcoral,
               inset -4px 4px 9px burlywood,
               inset 4px -4px 9px plum;
  }
  
  /* .digital {
    position: absolute;
    top: 30px;
    color: rgb(128, 240, 145);
    width: 29%;
  }
   */

  .face {
    position: absolute;
    background-image: url(./images/OIP.jpg);
    background-size: 66px;
    /* background: rgb(18, 217, 71); */
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    box-shadow: inset -4px -4px 9px rgb(234, 244, 240),
               inset -4px 4px 9px rgb(240, 229, 229),
               inset 10px -10px 9px rgb(155, 166, 243),
               inset -10px 10px 9px rgb(223, 120, 120);
  }
  
  .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: center top;
    border-radius: 40%;
  }
  
  .second {
    height: 58%;
    width: 2px;
    background-color: rgb(10, 189, 239);
    z-index: 5;
    box-shadow: inset -.5px .5px 1px rgb(214, 141, 141),
               inset -4px 4px 9px rgb(0, 242, 255);
  
  }
  
  .minute {
    height: 45%;
    width: 3px;
    background-color: rgb(15, 17, 17);
    z-index: 4;
    box-shadow: inset -.5px .5px 1px rgb(10, 189, 239),
                inset -4px 4px 9px rgb(144, 4, 133);
  }
  
  .hour {
    height: 35%;
    width: 4px;
    background-color: black;
    z-index: 3;
    box-shadow: inset -.5px .5px 1px rgb(10, 189, 239),
                inset -4px 4px 9px rgb(144, 4, 133);
  }
  
  .center {
    background-color: rgb(87, 12, 81);
   
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }

  @media screen and (max-width: 600px) {
    .clock {
      width: 65px;
      height: 65px;
    }
    .face {  
      background-size: 54px;
    }
    .second {
      height: 50%;
    }
  }