.height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 1.5rem;
}

.box2 {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.row {
  width: 90vw !important;
  max-width: 450px !important;
  margin: auto !important;
}