/* imports the app.css so shared styles can be used */
@import '../App.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f5;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  width: 170px;
}

.logoImg {
  max-width: 170px;
}

.clock {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}

.login {
  display: flex;
  gap: 10px;
  width: 170px;
}

.login a {
  padding: 10px;
  border: 2px solid var(--main-accent);
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  box-shadow: 2px 2px 5px var(--main-accent);
  font-weight: bold;
  text-align: center;

}

.login a:hover {
  background-color: #ccc;
  color: #333;
  transform: translateY(-1px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries below */

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
  }

  .login a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}