/* imports the app.css so shared styles can be used */
@import '../App.css';

.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 20px var(--main-accent);
    overflow: hidden;
    margin: 60px auto 0;
}

.active {
    width: 360px;
}

.search .input {
    position: relative;
    width: 300%;
    height: 60%;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #3ca3f2;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: blueviolet;
    transform: translate(6px, 6px) rotate(315deg);

}

.clear {
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    right: 15px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: grey;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: grey;
    transform: rotate(315deg);
}