.TopNewsContainer {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.TopNewsTitle {
    text-align: center;
    margin-bottom: 30px;
}

/* Media Queries */

@media screen and (max-width: 1199px) {
    .TopNewsContainer {
        margin-left: 0px;
        margin-top: 10.5px;
    }
}